<%
    locals.title = '404';
    locals.active = '404';
%>

<%- include('header') %>

<div class="ui icon floating info message">
    <i class="idea icon"></i>
    <div class="content">
        <div class="header"><%= message %></div>
        <p>不如去其它地方看看？</p>
    </div>
</div>

<%- include('footer') %>